<%= form_for @product, url: products_path do |f| %>
  <p>
    <%= form.label :shopname %><br>
    <%= form.text_field :shopname %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    f.submit 'Save'%>
  </p>
<% end %>